<h1><%= message %></h1>
<h2><%= error.status %></h2>
<!--LINK https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_pre-->
<pre><%= error.stack %></pre>
<a href="javascript:;" onclick="history.back()">Back</a> |
<a href="/">Home</a>